{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<section class="content center">
      <div class="center container-fluid">
                 <h3>Request Group Details</h3>
                <form action="" method="post">
                {% csrf_token %}
                <div class="card" style="width: 70rem;">
                    <table class="table">
                        <tbody>
                            <tr>
                              <th>Group Name</th>
                              <td>{{group.name}}</td>
                            </tr>
                            <tr>
                              <th>Group ID</th>
                              <td>{{group.id}}</td>
                            </tr>
                            <tr>
                                <th>Request Message</th>
                                <td>{{form.message|as_crispy_field}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              <div class="center">
                  <button type="submit" class="btn btn-primary submit_btn  my-4">Submit</button>
              </div>
            </form>
      </div>
</section>
    <!-- /.content -->
{% endblock content %}
