{% extends 'main/base.html' %}

{% block content %}
{% include 'client/client_status.html' %}

<br>

<!--client dahsboard-->
<div class="row">
    <div class="col">
        <h5>Ongoing Projects</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Project</th>
                    <th>Project ID</th>
                    <th>Overview</th>
                    <th>Requirements</th>
                    <th>Group</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                <tbody>
                    {% for project in projects %}
                    <tr>
                    <td>{{project.title}}</td>
                    <td>{{project.id}}</td>
                    <td>{{project.overview}}</td>
                    <td>{{project.requirements}}</td>
                    <td>{{project.group}}</td>
                    <td>{{project.status}}</td>
                    <td>
                        <a class="btn btn-primary btn-sm btn-block" href="{% url 'client_update_project' project_id=project.id %}">Update Project</a>
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
<br> 
<br> 
<div class="row">
    <div class="col">
        <h5>Projects In QA</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Project</th>
                    <th>Project ID</th>
                    <th>Overview</th>
                    <th>Requirements</th>
                    <th>Group</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                <tbody>
                    {% for project in projects %}
                    <tr>
                    <td>{{project.title}}</td>
                    <td>{{project.id}}</td>
                    <td>{{project.overview}}</td>
                    <td>{{project.requirements}}</td>
                    <td>{{project.group}}</td>
                    <td>{{project.status}}</td>
                    <td>
                        <a class="btn btn-primary btn-sm btn-block" href="{% url 'client_update_project' project_id=project.id %}">Update Project</a>
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock %}
