{% extends 'main/base.html' %}

{% block content %}

<div class="center">
<h3>Industry Client Profile</h3>
</div> 
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card" style="width: 70rem;">
        <table class="table">
            <tbody>
                <tr>
                  <th>Name</th>
                  <td>{{client.user.first_name}} {{client.user.last_name}}</td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td>{{client.user.email}}</td>
                </tr>
                <tr>
                    <th>Company</th>
                    <td>{{client.industry.company}}</td>
                </tr>
                <tr>
                  <th>Address</th>
                  <td>
                      {{client.industry.address}}
                  </td>
                </tr>
                <tr>
                    <th>Contact</th>
                    <td>{{client.industry.contact}}</td>
                </tr>
            </tbody>
        </table>
    </div>
        <div class=" d-flex mt-2"> <button class="btn1 btn-dark" onclick="location.href='{% url 'client_edit_profile' %}'">Edit Profile</button> </div>
</div>

{% endblock %}
