{% extends 'main/base.html' %}

{% block content %}

<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
<div class="center">
<h3>MLE Client Profile</h3>
</div> 
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card" style="width: 70rem;">
        <table class="table">
            <tbody>
                <tr>
                  <th>Name</th>
                  <td>{{client.user.first_name}} {{client.user.last_name}}</td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td>{{client.user.email}}</td>
                </tr>
                <tr>
                    <th>School</th>
                    <td>{{client.mle.school}}</td>
                </tr>
                <tr>
                    <th>Contact</th>
                    <td>{{client.mle.contact}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div> 
{% endblock %}
