{%extends 'main/base.html' %}
{% load static %}

{% block content %}


<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h3>Clients</h3>
        </div>
        <div class="row">
            <div class="col">
            <div class="card card-body">
            <form method="get">
                   {{client_filter.form}}
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
            </div>
            </div>
        </div>
        <div class="card card-body">
            {% if client_filter.qs %}
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Company/Faculty</th>
                  <th scope="col">Type</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                  {% for client in client_filter.qs %}
                <tr>
                    <td>{{client.id}}</td>
                    <td>{{client.name}}</td>
                    <td>{{client.user.email}}</td>
                    {% if client.client_type == "Industry" %}
                    <td>{{client.industry.company}}</td> 
                    {% elif client.client_type == "MLE" %}
                    <td>{{client.mle.faculty}}</td>
                    {% elif client.client_type == "University" %}
                    <td>{{client.university.faculty}}</td>
                    {% endif %}
                    <td>{{client.client_type}}</td>
                  <td>
                       {% if client.is_active == 1 %}
                                            <a href="{% url 'coordinator_deactivate_client' client_id=client.id %}" class="btn btn-success" >Deactivate</a>
                       {% elif client.is_active == 0  %}
                                             <button class="btn btn-warning" disabled="disabled" data-toggle="modal" data-target="#reply_modal">Deactivated</button> 
                                            <a href="{% url 'coordinator_activate_client' client_id=client.id %}" class="btn btn-success" >Activate</a>
                        {% endif %}                            
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Company/Faculty</th>
                  <th scope="col">Type</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                  {% for client in clients %}
                <tr>
                    <td>{{client.id}}</td>
                    <td>{{client.user.first_name}}</td>
                    <td>{{client.user.last_name}}</td>
                    <td>{{client.user.email}}</td>
                    {% if client.client_type == "Industry" %}
                    <td>{{client.industry.company}}</td> 
                    {% elif client.client_type == "MLE" %}
                    <td>{{client.mle.faculty}}</td>
                    {% elif client.client_type == "University" %}
                    <td>{{client.university.faculty}}</td>
                    {% endif %}
                    <td>{{client.client_type}}</td>
                  <td>
                       {% if client.is_active == 1 %}
                                            <a href="{% url 'coordinator_deactivate_client' client_id=client.id %}" class="btn btn-success" >Deactivate</a>
                       {% elif client.is_active == 0  %}
                                             <button class="btn btn-warning" disabled="disabled" data-toggle="modal" data-target="#reply_modal">Deactivated</button> 
                                            <a href="{% url 'coordinator_activate_client' client_id=client.id %}" class="btn btn-success" >Activate</a>
                        {% endif %}                            
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>


<div>
</div> 

{% endblock %}
 
