{% extends 'main/base.html' %}
{% load static %}

{% block content %}


<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h3>Students</h3>
        </div>
        <div class="row">
            <div class="col">
            <div class="card card-body">
            <form method="get">
                   {{group_filter.form}}
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
            </div>
            </div>
        </div>
        <div class="card card-body">
            {% if group_filter.qs %}
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Project</th>
                  <th scope="col">Supervisor</th>
                </tr>
              </thead>
              <tbody>
                {% for group in group_filter.qs %}
                <tr>
                    <td>{{group.id}}</td>
                    <td>{{group.name}}</td>
                    <td>{{group.project.title}}</td>
                    <td>{{group.supervisor}}</td>
                  <td>
                      {% if group.can_view == 1 %}
                                            <a href="{% url 'client_view_group_details' group_id=group.id %}" class="btn btn-success" >View group details</a>
                       {% elif group.can_view == 0  %}
                       <a href="{% url 'client_request_group_details' group_id=group.id %}" class="btn btn-primary" >Request</a>
                       {% elif group.can_view == 2 %}
                                             <button class="btn btn-warning" disabled="disabled" data-toggle="modal" data-target="#reply_modal">Request Rejected</button>
                        {% endif %}                            
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Course Taken</th>
                  <th scope="col">Specialization</th>
                  <th scope="col">Interests</th>
                  <th scope="col">CGPA</th>
                  <th scope="col">Group</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                {% for student in students %}
                <tr>
                    <td>{{student.id}}</td>
                    <td>{{student.user.first_name}}</td>
                    <td>{{student.user.last_name}}</td>
                    <td>{{student.user.email}}</td>
                    <td>{{student.profile.course_taken}}</td>
                    <td>{{student.profile.specialization}}</td>
                    <td>{{student.profile.area_of_interest}}</td>
                    <td>{{student.profile.cgpa}}</td>
                    <td>{{student.studentgroup.name}}</td>
                  <td>
                       {% if student.is_active == 1 %}
                                            <a href="{% url 'coordinator_deactivate_student' student_id=student.id %}" class="btn btn-success" >Deactivate</a>
                       {% elif student.is_active == 0  %}
                                             <button class="btn btn-warning" disabled="disabled" data-toggle="modal" data-target="#reply_modal">Deactivated</button>
                                               <a href="{% url 'coordinator_activate_student' student_id=student.id %}" class="btn btn-success" >Activate</a>
                        {% endif %}                            
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>


<div>
</div> 

{% endblock content %}























