{% extends "main/base.html" %}

{% block content %}
{{group.id}}  {{group.name}}

<div class="card card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Course Taken</th>
          <th scope="col">Specialization</th>
          <th scope="col">Interests</th>
          <th scope="col">CGPA</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
        <tr>
            <td>{{student.id}}</td>
            <td>{{student.user.first_name}}</td>
            <td>{{student.user.last_name}}</td>
            <td>{{student.user.email}}</td>
            <td>{{student.profile.course_taken}}</td>
            <td>{{student.profile.specialization}}</td>
            <td>{{student.profile.area_of_interest}}</td>
            <td>{{student.profile.cgpa}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock content %}
