{% extends "main/base.html" %}

{% block content %}
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Projects</h5>
        </div>
        <div class="card card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Title</th>
                  <th scope="col">Overview</th>
                  <th scope="col">Requirements</th>
                  <th scope="col">Assigned Status</th>
                </tr>
              </thead>
              <tbody>
                {% for project in projects %}
                <tr>
                    <td>{{project.id}}</td>
                    <td>{{project.title}}</td>
                    <td>{{project.overview}}</td>
                    <td>{{project.requirements}}</td>
                    <td>{{project.is_assigned}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
    </div>
        <div class="center"> 
        <a href="{% url 'client_add_project' %}" >Add Project</a>
        </div> 
</div>

{% endblock content %} 
