<!-- Writ HTML code here -->
<!DOCTYPE html>
<html lang="en">
<head>
<title>TableView - Startup</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
<h2 class="text-center"><u>20 - Startups Table</u></h2><br>			
<table class="table table-dark table-striped">
	<thead>
	<tr>
		<th>Client</th>
		<th>Project ID</th>
		<th>Title</th>
		<th>Overview</th>
		<th>Similarity score</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	<!-- jinja2 Technique -->
	{% if rec %}
	{% for i in rec %}
	<tr>
		<td>{{i.client}}</td>
		<td>{{i.project_id}}</td>
		<td>{{i.title}}</td>
		<td>{{i.overview}}</td>
		<td>{{i.score}}</td>
		<td>
            <a href="{% url 'assign_recommended_project' group_id=i.group project_id=i.project_id client_id=i.client }" class="btn btn-primary">Assign</a>
        </td>
	</tr>
	{% endfor %}
	{% endif %}
	</tbody>
</table>
</div>

</body>
</html>

