{% extends 'main/base.html' %}

{% block content %}

{% include 'main/status.html' %}

<br>

<!--coordinator dahsboard-->
<div class="row">
    <div class="col">
        <h5>Active Feedback</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Project</th>
                    <th>Project ID</th>
                    <th>Client</th>
                    <th>Group No.</th>
                    <th>Message</th>
                    <th>Action</th>
                </tr>
                <tbody>
                    {% for r in requests %}
                    <tr>
                    <td>{{r.group.project.title}}</td>
                    <td>{{r.group.project.id}}</td>
                    <td>{{r.client.user}}</td>
                    <td>{{r.group.id}}</td>
                    <td>{{r.message}}</td>
                    <td>
                        <a class="btn btn-primary btn-sm btn-block" href="{% url 'approve_client_request' request_id=r.id group_id=r.group.id %}">Approve</a>
                        <a class="btn btn-primary btn-sm btn-block" href="{% url 'disapprove_client_request' request_id=r.id group_id=r.group.id %}">Reject</a>
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock %}
