{% extends 'main/base.html' %}

{% block content %}

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Projects</h5>
        </div>
        <div class="row">
            <div class="col">
            <div class="card card-body">
            <form method="get">
                   {{project_filter.form}}
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
            </div>
            </div>
        </div>
        <div class="card card-body">
            {% if project_filter.qs %}
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Title</th>
                  <th scope="col">Company</th>
                  <th scope="col">Overview</th>
                  <th scope="col">Requirements</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                  {% for project in project_filter.qs %}
                <tr>
                    <td>{{project.id}}</td>
                    <td>{{project.title}}</td>
                    <td></td>
                    <td>{{project.overview}}</td>
                    <td>{{project.requirements}}</td>
                  <td>
                       {% if project.is_active == 1 %}
                                            <a href="{% url 'student_deactivate' student_id=student.id %}" class="btn btn-success" >Deactivate</a>
                       {% elif student.is_active == 0  %}
                                             <button class="btn btn-warning" disabled="disabled" data-toggle="modal" data-target="#reply_modal">Deactivated</button> 
                        {% endif %}                            
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Title</th>
                  <th scope="col">Company</th>
                  <th scope="col">Overview</th>
                  <th scope="col">Requirements</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                {% for project in projects %}
                <tr>
                    <td>{{project.id}}</td>
                    <td>{{project.title}}</td>
                    <td></td>
                    <td>{{project.overview}}</td>
                    <td>{{project.requirements}}</td>
                  <td>
                       {% if project.is_active == 1 %}
                                            <a href="{% url 'student_deactivate' student_id=student.id %}" class="btn btn-success" >Deactivate</a>
                       {% elif student.is_active == 0  %}
                                             <button class="btn btn-warning" disabled="disabled" data-toggle="modal" data-target="#reply_modal">Deactivated</button> 
                        {% endif %}                            
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
    </div>
</div>

{% endblock content %}
