{%extends 'main/base.html' %}
{% load static %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Client</th>
      <th scope="col">Project</th>
      <th scope="col">Supervisor</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for group in groups %}
    <tr>
        <th scope="row">{{group.id}}</th>
        <td>{{group.name}}</td>
        <td>{{group.client}}</td>
        <td>{{group.project.title}}</td>
        <td>{{group.supervisor}}</td>
        <td>
            <a href="{% url 'make_recommendations' group_id=group.id %}">View Recommended Projects</a>  
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
 
