{%extends 'main/base.html' %}
{% load static %}

{% block content %}

<div class="card card-body">
    <h3>Groups</h3>
</div>
<div class="row">
    <div class="col">
    <div class="card card-body">
    <form method="get">
           {{group_filter.form}}
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
    </div>
    </div>
</div>
{% if group_filter %}
<table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Client</th>
          <th scope="col">Project</th>
          <th scope="col">Supervisor</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for group in group_filter.qs %}
        <tr>
            <th scope="row">{{group.id}}</th>
            <td>{{group.name}}</td>
            <td>{{group.client.user.username}}</td>
            <td>{{group.project.title}}</td>
            <td>{{group.supervisor}}</td>
            <td>
             {% if group.has_project %}
                
                <a href="{% url 'coordinator_edit_project_recommendations' group_id=group.id  project_id=group.project.id %}">Edit Assigned Projects</a>  
             {% else %}
                <a href="{% url 'coordinator_view_project_recommendations' group_id=group.id %}">View Recommended Projects</a>
             {% endif %}
            </td>
            <td>
             {% if group.supervisor %}
                
                <a href="{% url 'coordinator_assign_supervisor' group_id=group.id %}">Change Supervisor</a>  
             {% else %}
             <a href="{% url 'coordinator_assign_supervisor' group_id=group.id %}">Assign Supervisor</a>
             {% endif %}
            </td>
            <td>
                <a href="{% url 'edit_student_group' group_id=group.id %}">Edit Group</a> 
            </td>
        </tr>
        {% endfor %}
      </tbody>
</table>
{% else %}
<table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Client</th>
          <th scope="col">Project</th>
          <th scope="col">Supervisor</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for group in groups %}
        <tr>
            <th scope="row">{{group.id}}</th>
            <td>{{group.name}}</td>
            <td>{{group.client.user.username}}</td>
            <td>{{group.project.title}}</td>
            <td>{{group.supervisor}}</td>
            <td>
             {% if group.has_project %}
                
                <a href="{% url 'coordinator_view_project_recommendations' group_id=group.id %}">Edit Assigned Projects</a>  
             {% else %}
                <a href="{% url 'coordinator_view_project_recommendations' group_id=group.id %}">View Recommended Projects</a>
             {% endif %}
            </td>
            <td>
             {% if group.supervisor %}
                
             <a href="{% url 'coordinator_assign_supervisor' group_id=group.id %}">Change Supervisor</a>  
             {% else %}
             <a href="{% url 'coordinator_assign_supervisor' group_id=group.id %}">Assign Supervisor</a>
             {% endif %}
            </td>
        </tr>
        {% endfor %}
      </tbody>
</table>
{% endif %}
<div class="center"> 
    <a href="{% url 'coordinator_create_group_with_students' %}" class="btn btn-primary" >Add Group</a>
</div> 
{% endblock content %}
 
