{% extends 'main/base.html' %}

{% block content %}
{% include 'supervisor/supervisor_status.html' %}
<br>

<!--supervisor dahsboard-->
<div class="row">

    <div class="col-md-7">
        <h5>Groups</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="">View Details</a>
            <table class="table table-sm">
                <tr>
                    <th>Groups</th>
                </tr>

            </table>
        </div>
    </div>

</div>

{% endblock %}
