{% extends 'main/base.html' %}

{% block content %}

<br>
<div class="row">
    <div class="col">
        <h5>Feedback History</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>ID</th>
                    <th>Task ID</th>
                    <th>Task Title</th>
                    <th>Feedback</th>
                    <th>Feedback Reply</th>
                </tr>
                <tbody>
                    {% for feedback in feedbacks %}
                    {% if feedback.feedback_reply != "" and feedback.is_archived %}
                            <tr>
                            <td>{{feedback.id}}</td>
                            <td>{{feedback.task.id}}</td>
                            <td>{{feedback.task.title}}</td>
                            <td>{{feedback.feedback}}</td>
                            <td>{{feedback.feedback_reply}}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock content %}
