{% extends 'main/base.html' %}

{% block content %}

<br>
<div class="row">
    <div class="col">
        <h5>Feedback History</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>ID</th>
                    <th>Task ID</th>
                    <th>Task Title</th>
                    <th>Feedback</th>
                    <th>Feedback Reply</th>
                    <th>Supervisor</th>
                </tr>
                <tbody>
                    {% for task in tasks %}
                        {% for t in task.feedbackoftask.all %}
                        {% if t.feedback_reply != "" %}
                            <tr>
                            <td>{{t.id}}</td>
                            <td>{{task.id}}</td>
                            <td>{{task.title}}</td>
                            <td>{{t.feedback}}</td>
                            <td>{{t.feedback_reply}}</td>
                            <td>{{t.supervisor}}</td>
                            </tr>
                        {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock content %}
