{% extends 'main/base.html' %}

{% block content %}

{% include 'main/status.html' %}

<br>

<!--coordinator dahsboard-->
<div class="row">
    <div class="col-md-5">
        <h5>Groups</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="">Create Group</a>
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Group</th>
                    <th>Members</th>
                </tr>

            </table>

        </div>
    </div>

    <div class="col-md-7">
        <h5>Requests</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="">Give Permission</a>
            <table class="table table-sm">
                <tr>
                    <th>Project</th>
                    <th>Project ID</th>
                    <th>Client</th>
                    <th>Group No.</th>
                    <th>Message</th>
                </tr>

            </table>
        </div>
    </div>

</div>

{% endblock %}