{% load static %}
<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3">
                <div class="card-header">
                    <h5 class="card-title">Total Group</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{group_count}}</h3>
                    <a href="{% url 'coordinator_view_groups' %}" class="btn btn-primary">View groups</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center  mb-3" id="ongoing">
                <div class="card-header">
                    <h5 class="card-title">Total Students</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{student_count}}</h3>
                    <a href="{% url 'coordinator_view_groups' %}" class="btn btn-primary">View groups</a> 
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="completed">
                <div class="card-header">
                    <h5 class="card-title">Completed Projects</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                    <a href="{% url 'coordinator_view_groups' %}" class="btn btn-primary">View groups</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="completed">
                <div class="card-header">
                    <h5 class="card-title">Total Clients</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                    <a href="{% url 'coordinator_view_groups' %}" class="btn btn-primary">View groups</a>
                </div>
            </div>
        </div>
    </div>
</div>
