{% extends 'main/base.html' %}

{% block content %}

<div class="center">
<h3>Student profile</h3>
</div> 
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card" style="width: 70rem;">
        <table class="table">
            <tbody>
                <tr>
                  <th>Name</th>
                  <td>{{student_profile.name}}</td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td>{{student_profile.user.email}}</td>
                </tr>
                <tr>
                    <th>Course Taken</th>
                    <td>{{student_profile.profile.course_taken}}</td>
                </tr>
                <tr>
                  <th>Area of Interest</th>
                  <td>
                      {{student_profile.profile.area_of_interest}}
                  </td>
                </tr>
                <tr>
                    <th>Skills</th>
                    <td>{{student_profile.profile.skills}}</td>
                </tr>
                <tr>
                    <th>CGPA</th>
                    <td>{{student_profile.profile.cgpa}}</td>
                </tr>
            </tbody>
        </table>
    </div>
        <div class=" d-flex mt-2"> <button class="btn1 btn-dark" onclick="location.href='{% url 'student_update_profile' %}'">Edit Profile</button> </div>
</div>

{% endblock %}
