{%extends "main/base.html" %}
{% load static %}

{% block content %}
<div class="">
    <br> 
     <h3> Project Details </h3>
    <div class="card" style="width: 70rem;">
        <table class="table">
            <tbody>
                <tr>
                  <th>Project Title</th>
                  <td>{{project.title}}</td>
                </tr>
                <tr>
                  <th>Project Overview</th>
                  <td>{{project.overview}}</td>
                </tr>
                <tr>
                    <th>Project Requirements</th>
                    <td>{{project.requirements}}</td>
                </tr>
              <tr>
                  <th>File Attachment</th>
                  {% if project.file %}
                  <td>
                    <a href="{{project.file.url}}" download="{{project.file.url}}" class="btn btn-primary btn-sm btn-block">Download Attached Files</a>
                  </td>
                  {% else %}
                  <td>No file attached</td>
                  {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <h3> Client Details </h3>
    <div class="card" style="width: 70rem;">
        <table class="table">
            <tbody>
                <tr>
                  <th>Client Name</th>
                  <td>{{client.user.first_name}} {{client.user.last_name}}</td>
                </tr>
                <tr>
                  <th>Client Company</th>
                  <td>{{client.industry.company}}</td>
                </tr>
                <tr>
                    <th>Client Type</th>
                    <td>{{client.client_type}}</td>
                </tr>
              <tr>
                  <th>Client Email</th>
                  <td>
                      {{client.user.email}}
                  </td>
                </tr>
            </tbody>
        </table>
    </div>
        <br> 
</div> 
{% endblock content %} 
